<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/"></a>Home</li>
      <li class="li-inline nav-item"><a href="/dashboard"></a>Dashboard</li>
      <li class="li-inline nav-item"><a href="/login"></a>Login</li>
      <li class="li-inline nav-item"><a href="#" id="logout"></a>Logout</li>
    </ul>
  </nav>
  <header>
    <h1>LeBlog James</h1>
  </header>
  <main>
    {{{body}}}
  </main>
</body>

</html>
<script src="/js/logout.js"></script>