<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeBlog</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>


<body>
  <header>
    <h1>LeBlog James</h1>
  </header>
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a type="button" href="/">Home</a></li>
      <li class="li-inline nav-item"><a type="button" href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a type="button" href="/login">Login</a></li>
      <li class="li-inline nav-item"><a type="button" href="#" id="logout"></a>Logout</li>
    </ul>
  </nav>
  
  <main>
    {{{body}}}
  </main>
</body>

</html>
<script src="/js/logout.js"></script>